
<div class="container d-flex mt-5 justify-content-center align-items-center">
    <div class="card p-3 w-100">
      <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :category, collection: Restaurant::CATEGORY %>
      <%= f.input :phone_number %>
      <%= f.submit class: "btn btn-dark" %>
      <% end %>
    </div>
</div>
